<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
     
     
     <context:annotation-config/>

     <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">  
        <property name="driverClassName"  value="oracle.jdbc.driver.OracleDriver"></property>  
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>  
        <property name="username" value="student"></property>  
        <property name="password" value="student"></property>  
    </bean>  
        
      
    <bean id="Hibernate_sessionFactory"  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">  
        <property name="dataSource" ref="dataSource"></property>  
          
        <property name="annotatedClasses">
            <list>
                    <value>model.Student</value>
                    <value>model.Course</value>
                    <value>model.Results</value>
            </list>
        </property>      
          
        <property name="hibernateProperties">  
            <props>  
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>  
                <prop key="hibernate.hbm2ddl.auto">update</prop>  
                <prop key="hibernate.show_sql">true</prop>  
                 
                  
            </props>  
        </property>  
         
    </bean>  
      
      
<!--    <bean id="studentDao" class="daoimplement.studentDao">  
        <property name="sessionFactory" ref="Hibernate_sessionFactory"></property>  
        
    </bean>  -->
    
     <bean id="courseDao" class="daoimplement.courseDao">  
        <property name="sessionFactory" ref="Hibernate_sessionFactory"></property>  
         
    </bean>  
      
<!--   <bean id="resultDao" class="daoimplement.resultDao">  
        <property name="sessionFactory" ref="Hibernate_sessionFactory"></property>  
    </bean>    -->
      
   
        
      
</beans>
